

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 24px;
}

.carousel-dots {
  display: flex;
  gap: 125px;
  font-weight: 600;
  justify-content: center;
  margin-top: 0px;
  margin-top: -50px;
  text-transform: uppercase;
  font-size: 14px;
  
}

.carousel-dot {
  cursor: pointer;
  margin: 0 10px;
  
  color: white;
  z-index: 1;
 
}

.carousel-dot.active {
  color: white;
  font-weight: bold;
 
 

}






Styles for the slider container
.sliderContainer {
  overflow: hidden;
  margin-top: 0px;
}


.slideBackground{
  padding-top: 100px;
  height: 550px;
  padding-left: 57px;
  
}

.slide1 {
  background-color: rgb(3, 5, 25);
  
}

.slide2 {
  background-color: rgb(57, 78, 143);
}

.slide3 {
  background-color: rgb(3, 5, 25);
}
.slide4 {
  background-color: rgb(17, 3, 24);
  
}
.slide5 {
  background-color: rgb(57, 78, 143);
  
}






.carousel-dots {
  display: flex;
  gap: 125px;
  font-weight: 600;
  justify-content: center;
  
  margin-top: -40px;
  text-transform: uppercase;
  font-size: 14px;
  
}



/* Increase the size of the dots */
.slick-dots li button {

  display: none;
  
}


@media (max-width: 2256px) {
  .carousel-dots {
    
    gap: 123px;
   
    
  }
    
}
@media (max-width: 1920px) {
  .carousel-dots {
    
    gap: 117px;
    
  }
  .carousel-dot {
    cursor: pointer;
    margin: 0 0 ;
    margin-left: 0px;
    margin-right: 20px;
    
    color: white;
    z-index: 1;
   
  }
    
}
@media (max-width: 1440px) {
  .carousel-dots {
    
    gap: 105px;
    
  }
  .carousel-dot {
    cursor: pointer;
    margin: 0 0 ;
    margin-left: px;
    margin-right: 7px;
    
    color: white;
    z-index: 1;
   
  }
    
}
@media (max-width: 1366px) {
  .carousel-dots {
    
    gap: 102px;
    
  }
  .carousel-dot {
    cursor: pointer;
    margin: 0 0 ;
    margin-left: px;
    margin-right: 0px;
    
    color: white;
    z-index: 1;
   
  }
    
}




@media (max-width: 1280px) {
  .carousel-dots {
    font-weight: 600;
    gap: 85px;
    font-size: 14px;
    
  }
  .carousel-dot {
    cursor: pointer;
    margin: 0 0 ;
    margin-left:0px;
    margin-right: 3px;
    
    color: white;
    z-index: 1;
   
  }
  .slideBackground{
    padding-top: 100px;
    padding-left: 40px;
    
    
  }
    
}
@media (max-width: 1024px) {
  .carousel-dots {
    font-weight: 600;
    gap: 27px;
    font-size: 14px;
    
  }
  .slideBackground{
    padding-top: 100px;
    padding-left: 40px;
    
  }
}
   
@media (max-width: 912px) {
  

 
  .carousel-dots {
    font-weight: 600;
    gap: 15px;
    justify-content: center;
    font-size: 12px;
    
  }
  .slideBackground{
    padding-top: 100px;
    padding-left: 60px;
    
  }
}
/* Show the dots for smaller screens */
@media (max-width: 810px) {
 

  .slick-dots {
    display: flex; /* Show dots on small screens */
    margin-top: -20px; /* Adjust the margin for smaller screens */
    justify-content: center; /* Center the dots horizontally */
    gap: 0px; /* Add some space between dots */
  }

    .slick-dots li button {
    border-radius: 50%;
   width: 20px;
   height: 20px;
    display: block;
    
   font-weight: 900;
   
    color: white;
    
    margin-top: -100px;
    background-color: white; /* Make the dots transparent */
    border: 2px solid white;
  
    
  }
  .slick-dots.active{
    color: grey;
    background-color: grey;
  }
  .carousel-dots {
    
display: none;
  }

 
  .slideBackground{
    padding-top: 100px;
    height: 550px;
    padding-left: 40px;
    
  }
 
}

@media (max-width: 768px) {

  .slideBackground{
    padding-top: 100px;
    height: 550px;
    padding-left: 57px;
    
  }

 
}
@media (max-width: 540px) {

  .slideBackground{
    padding-top: 100px;
    height: 550px;
    padding-left: 40px;
    
  }

 
}
@media (max-width: 414px) {

  .slick-dots {
    display: flex; /* Show dots on small screens */
    margin-top: 200px; /* Adjust the margin for smaller screens */
    justify-content: center; /* Center the dots horizontally */
    gap: 0px; /* Add some space between dots */
  }

 
}