.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: .8rem; /* Use relative units for padding */
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-feature-settings: "kern","liga","clig","calt";
  -webkit-text-size-adjust: 100%;
}

.logo {
  width: 170px;
  height: 50px;
  margin-right: 18.5rem; /* Use relative units for margin */
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 13.7px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 40px;
  padding: 4px 16px;
}

/* Styles for the dropdown menu on small screens */
.menu.show {
  flex-direction: column;
  position: absolute;
  top: 85px; /* Adjust the position */
  left: 0;
  background-color: #f0f0f0;
  display: none;
  z-index: 1;
  width: 40%;
}

.menu.show a {
  margin: 5px 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Styles for the menu icon on small screens */
.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Media query to show/hide the dropdown menu and menu icon on small screens */
@media screen and (max-width: 1024px) {
  .menu {
      display: flex;
  }
  .menu-icon {
      display: none;
  }
  .menu.show {
      display: flex;
  }
  /* Adjust the padding on smaller screens */
  .navigation {
      padding: 1rem;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 6rem; /* Use relative units for margin */
  }
}
@media screen and (max-width: 912px) {
  .menu {
      display: none;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
      
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 30rem; /* Use relative units for margin */
  }
  .navigation {
    padding: 1rem;
    justify-content: space-around;
}
 
  
  /* Adjust the padding on smaller screens */
 
}


/* Add additional media queries if needed for other screen sizes */
@media screen and (max-width: 768px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 25rem; /* Use relative units for margin */
  }

}

@media screen and (max-width: 540px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 20rem; /* Use relative units for margin */
  }

}
@media screen and (max-width: 500px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 5rem; /* Use relative units for margin */
  }

}