




.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: .8rem; /* Use relative units for padding */
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  font-feature-settings: "kern","liga","clig","calt";
  font-feature-settings: "kern","liga","clig","calt";
  -webkit-text-size-adjust: 100%;
  position: fixed;
  margin-bottom: 50px;
  z-index: 1;
  width: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);

 
}

.logo {
  width: 170px;
  margin-left: 3rem;
  height: 50px;
  margin-right: 20.3rem; /* Use relative units for margin */
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
 
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  padding: 4px 15px;
  
}

/* Styles for the dropdown menu on small screens */
.menu.show {
  flex-direction: column;
  position: absolute;
  top: 85px; /* Adjust the position */
  left: 0;
  background-color: white;
  display: none;
  z-index: 1;
  width: 40%;
 border-radius: 5px;
  /* height: 800px; */
}

.menu.show a {
  margin: 10px 18px ;
  margin-left: -20px;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Styles for the menu icon on small screens */
.menu-icon span {

  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

/* Media query to show/hide the dropdown menu and menu icon on small screens */
@media screen and (max-width: 3840px) {
  .logo {
      margin-left: 4.5rem;
      margin-right: 32rem;
  }}
@media screen and (max-width: 3200px) {
  .logo {
      margin-left: 4.3rem;
      margin-right: 32rem;
  }}
@media screen and (max-width: 2736px) {
  .logo {
      margin-left: 4.1rem;
      margin-right: 32rem;
  }}
@media screen and (max-width: 2256px) {
  .logo {
      margin-left: 4rem;
      margin-right: 31rem;
  }}
@media screen and (max-width: 1920px) {
  .logo {
      margin-left: 4rem;
      margin-right: 29rem;
  }}
@media screen and (max-width: 1600px) {
  .logo {
      margin-left: 3.8rem;
  }}
  @media screen and (max-width: 1440px) {
    .logo {
        margin-left: 3.3rem;
        margin-right: 23rem;
    }}

  @media screen and (max-width: 1366px) {
    .logo {
        margin-left: 2.7rem;
        margin-right: 21rem;
    }}
  @media screen and (max-width: 1280px) {
    .logo {
        margin-right: 15rem;
        margin-left: 2rem;
    }}

    @media screen and (max-width: 1080px) {
      .menu {
          display: flex;
      }
      .menu-icon {
          display: none;
      }
      .menu.show {
          display: flex;
      }
      /* Adjust the padding on smaller screens */
      .navigation {
          padding: 1rem;
      }
      .logo {
        width: 170px;
        height: 50px;
        margin-right: 3rem; 
        margin-left:1.5rem ;/* Use relative units for margin */
      }
    }
@media screen and (max-width: 1024px) {
  .menu {
      display: flex;
  }
  .menu-icon {
      display: none;
  }
  .menu.show {
      display: flex;
  }
  /* Adjust the padding on smaller screens */
  .navigation {
      padding: 1rem;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 3rem; 
    margin-left:1.5rem ;/* Use relative units for margin */
  }
}
@media (max-width: 992px) {
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 7rem; 
    margin-left:1.5rem ;/* Use relative units for margin */
  }
}
@media screen and (max-width: 912px) {
  .menu {
      display: none;
      align-items: flex-start;
      padding-left: 98px;
      height: 400px;
      
  }
  .menu-icon {
      display: block;
      margin-top: 1rem;
      
  }
  .menu.show {
      display: flex;
      
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 34rem;
    margin-left: 3rem; /* Use relative units for margin */
  }
  .navigation {
    padding: 1rem;
    justify-content: space-around;
}
 
  
  /* Adjust the padding on smaller screens */
 
}
@media screen and (max-width: 820px) {
 
  .logo {
    
    margin-right: 33rem;
    margin-left: 0rem; /* Use relative units for margin */
  }
 
  .menu {
    
    
    padding-left: 50px;
    height: 400px;
    
}
  
 
 
}
@media screen and (max-width: 800px) {
 
  .logo {
    
    margin-right: 33rem;
    margin-left: 0rem; /* Use relative units for margin */
  }
 
 
  
 
 
}


/* Add additional media queries if needed for other screen sizes */
@media screen and (max-width: 768px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      padding-left: 70px;
      
  }
  .menu-icon {
      display: block;
      margin-top: 1rem;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 28rem; /* Use relative units for margin */
    margin-left: 1.7rem;
  }

}
@media screen and (max-width: 640px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      padding-left: 39px;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 22.5rem; /* Use relative units for margin */
    margin-left: 0px;
  }

}

@media screen and (max-width: 601px) {
 
  .logo {
    
    margin-right: 18rem;
    margin-left: 1.5rem; /* Use relative units for margin */
  }
 
 
  
 
 
}

@media screen and (max-width: 540px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      padding-left: 39px;
      
  }
  .menu-icon {
      display: block;
  }
  .menu.show {
      display: flex;
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 17rem; /* Use relative units for margin */
    margin-left: 0px;
  }

}
@media screen and (max-width: 500px) {
  /* Styles for smaller screens */
  .menu {
      display: none;
      
  }
  .menu-icon {
      display: block;
      margin-top: .8rem;
  }
  .menu.show {
      display: flex;
      
  }
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 10rem;
    margin-left: 0px; /* Use relative units for margin */
  }

}
@media screen and (max-width: 400px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 0rem;
    margin-left: 0px; /* Use relative units for margin */
  }

}
@media screen and (max-width: 393px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 8rem;
    /* Use relative units for margin */
  }

}
@media screen and (max-width: 375px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    width: 170px;
    height: 50px;
    margin-right: 7rem;
    /* Use relative units for margin */
  }

}

@media screen and (max-width: 360px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    
    margin-right: 6.4rem;
    /* Use relative units for margin */
  }

}

@media screen and (max-width: 320px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    
    margin-right: 4rem;
    /* Use relative units for margin */
  }
}
@media screen and (max-width: 280px) {
  /* Styles for smaller screens */
 
 
 
  .logo {
    
    margin-right: 2rem;
    /* Use relative units for margin */
  }
}