.caseImage{

border-right:10px solid white;
width: 100%;
}
.caseStudytwoimg{
    width:200px;
    height:200px;
}



@media (max-width: 1024px) {
    

    .caseImage{
        height: 340px;
        
        width: 90%;
        }
        .caseStudytwoimg{
            width:230px;
            height:230px;
        }
        

    }
    @media (max-width: 912px) {
    

        .caseImage{
            height: 400px;
            
            width: 100%;
            border: none;
            }
            
    

            .caseStudytwoimg{
                width:190px;
                height:190px;
            }

        }
  

        @media (max-width: 801px) {
    

            
        
    
                .caseStudytwoimg{
                    width:320px;
                    height:320px;
                               }
    
            }
            @media (max-width: 713px) {
    

            
        
    
                .caseStudytwoimg{
                    width:310px;
                    height:310px;
                               }
    
            }
            @media (max-width: 641px) {
    

            
        
    
                .caseStudytwoimg{
                    width:300px;
                    height:300px;
                               }
    
            }

            @media (max-width: 602px) {
    

            
        
    
                .caseStudytwoimg{
                    width:250px;
                    height:250px;
                               }
    
            }

            @media (max-width: 481px) {
    

            
        
    
                .caseStudytwoimg{
                    width:230px;
                    height:230px;
                               }
    
            }


            @media (max-width: 415px) {
    

            
        
    
                .caseStudytwoimg{
                    width:200px;
                    height:200px;
                               }
    
            }
      


            @media (max-width: 394px) {
    

            
        
    
                .caseStudytwoimg{
                    width:180px;
                    height:180px;
                               }
    
            }

            @media (max-width: 391px) {
    

            
        
    
                .caseStudytwoimg{
                    width:185px;
                    height:185px;
                               }
    
            }

            @media (max-width: 376px) {
    

            
        
    
                .caseStudytwoimg{
                    width:176px;
                    height:176px;
                               }
    
            }

            @media (max-width: 361px) {
    

            
        
    
                .caseStudytwoimg{
                    width:160px;
                    height:160px;
                   
                               }
    
            }