.sticky-row {
    position: sticky;
    top: 300px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: red;
    color: white;
    transition: transform 0.5s;
  }
  
  .sticky-row.sticky {
    position: sticky;
    z-index: 100;
    top: 0px;
  }
  