body{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 26px;
    
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    font-kerning: normal;
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
    margin: 0 auto;
    /* #F7F7F7 */
}

.link{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
}